{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-12">
        <h6 class="text-left">Sobre</h6>
    </div>
</div>

<hr>

<div style="height: 700px;">
    <p>O Virtus é um sistema de gerenciamento de locações de decorações de festa infantil, casamentos,
        formaturas, e
        outros eventos. </p>
    <p>O painel proporcionará uma experiência de planejamento e organização de festas
        que facilitará o trabalho da proprietária e ajudará no planejamento da montagem da festa. Nossa
        visão é ser o principal forma de gerenciamento dos alugueis, minimizando o tempo comparado ao tempo feito
        manualmente. </p>
    <p>
        Ajudará na organização de agendamentos com o painel administrativo, que também possibilitará o cadastro de
        produtos e promoções no catálogo.</p>
</div>


{% endblock %}