{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<div class="row justify-content-center align-items-center mt-3">
    <div class="col-md-10">
        <h3 class="">Lista de Produtos</h3>
    </div>
    <div class="col-md">
        <a href="{% url 'cadastrar-produto' %}" class="btn btn-primary btn-sm">
            <i class="bi bi-plus-lg"></i>
            Novo Produto
        </a>
    </div>
</div>

<hr>

<div class="table-responsive-lg">
    <table id="tabela-produtos" class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Categoria Principal</th>
                <th>Subcategoria</th>
                <th>Quantidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr class="">
                <td>{{ obj.nome_produto }}</td>
                <td>{{ obj.descricao }}</td>
                <td>{{ obj.categoria_principal }}</td>
                <td>{{ obj.subcategoria }}</td>
                <td>{{ obj.quantidade_estoque }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-gear"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-primary" href="{% url 'editar-produto' obj.pk %}">
                                    <i class="bi bi-pencil-square"></i> Editar</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'excluir-produto' obj.pk %}">
                                    <i class="bi bi-trash"></i> Excluir</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th colspan="100%">Nenhum registro encontrado.</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Incluindo jQuery e DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<!-- Inicializando o DataTables -->
<script>
    $(document).ready(function() {
        // Inicializa o DataTables na tabela de produtos
        $('#tabela-produtos').DataTable({
            "paging": true,           // Habilita a paginação
            "searching": true,        // Habilita a busca
            "ordering": true,         // Habilita a ordenação
            "info": true              // Exibe informações sobre o total de registros
        });
    });
</script>

{% endblock %}
